@use "_variables" as *;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #1a121c;
}
.slide{
  width: 100%;
  height: 100vh;
  background-color: #251623;
  color: #fff;
}
.nav-link {
  color: black;
  text-decoration: none;
}
p{
  font-family: $font-crea;
  font-size: 1.8rem;
  font-weight: 300;
  color: #ffffff;
  padding-left: 15px;
  line-height: 2;
}
//responsive globale
@media (min-width: 2000px) {
  html {
    font-size: 125%;
  }
}

@media (min-width: 3000px) {
  html {
    font-size: 150%; //pour les plus grandes TV
  }
}
@media (max-width: 1024px) {

}
@media (max-width: 576px) {
  html {
    font-size: 93.75%;
  }
}